html, body {
  width:100%;
  height:100%;
  background-color:#000;
  color:#fff;
  overflow-x: hidden;
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.wrapper {
  margin:0;
  padding:0;
  border:0;
  vertical-align: baseline;
  display: block;
  position: absolute;

  width:100%;
  height:100%;
}

#intro-slide {
  background-image:url("../PickingUp.jpg");
  background-size:cover;
  background-repeat: no-repeat;
}

#intro {
  background-color:rgba(0,0,0,0.3);
  width:230px;
}

#about-slide {
  background-image:url("../images/TabbyHand.jpg");
  background-size:cover;
  background-repeat: no-repeat;
}

#ceremonysunny-slide {
  background-image:url("../images/yellowbg1.png");
  background-size:cover;
  background-repeat: no-repeat;
}

#ceremonyrainy-slide {
  background-image:url("../images/yellowbg2.jpg");
  background-size:cover;
  background-repeat: no-repeat;
}

#reception-slide {
  background-image:url("../images/Lakeview.jpg");
  background-size:cover;
  background-repeat: no-repeat;
}

#rsvp-slide {
  background-image:url("../TreesPic.jpg");
  background-size:cover;
  background-repeat: no-repeat;
}
#
