html, body {
  width:100%;
  height:100%;
  background-color:#000;
  color:#fff;
  overflow-x: hidden;
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body {
	color:white;
	line-height: 1;
	min-height:100%;
	font-family: 'Rokkit', serif;
	font-size:13pt;
}

body.portrait {
  font-size: 20pt;
}

p {
	margin:1em 0;
	line-height:1.1em;
}

q {
	font-style:italic;
	color:#333;
}

h1 {
	font-size:2.91em;
	margin:10px;
	font-family: 'Open Sans Condensed', sans-serif !important;
}

.portrait h1 {
  font-size:4.5em;
}

h2 {
	color:inherit;
	font-size:1.91em;
	margin:0 20px;
	font-family: 'Open Sans Condensed', sans-serif !important;
}

.portrait h2 {
  font-size: 3 em;
}


.wrapper {
  margin:0;
  padding:0;
  border:0;
  vertical-align: baseline;
  display: block;
  position: absolute;

  width:100%;
  height:100%;
  min-height:100%;
}

#intro-slide {
  background-image:url("../PickingUp.jpg");
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
}

#intro {
  background-color:rgba(0,0,0,0.3);
  width:290px;
}

.portrait #intro {
  width:100%;
}

#about-slide {
  top:100%;
}

.portrait #about-slide {
  background-image:url("../images/TabbyHandFull.jpg");
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
}

.portrait #abouttext h1, .portrait #abouttext h2, .portrait #abouttext p {
  margin:10px;
}

.landscape #abouttext {
  float:left;
  background-color:#000;
  width:50%;
}

.landscape #aboutpic {
  float:right;
  width:50%;
  height:100%;
  background-image:url("../images/TabbyHand.jpg");
  background-position: left;
  background-size:cover;
  background-repeat: no-repeat;
}

.portrait .outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.portrait .middle {
    display: table-cell;
    vertical-align: middle;
}

.portrait .inner {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.portrait #abouttext {
  /*width:90%;
  margin-left: 5%;
  margin-top:0;*/
  padding:10px;
  background-color: rgba(0,0,0,0.8);
}

#ceremonysunny-slide {
  top:200%;
  background-color:rgb(249,184,31);
	background: -webkit-linear-gradient(rgb(249,184,31), rgb(135,206,350)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgb(249,184,31), rgb(135,206,350)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgb(249,184,31), rgb(135,206,350)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgb(249,184,31), rgb(135,206,350)); /* Standard syntax */
}

.portrait #ceremonysunny-slide #bg  {
  background-image:url("../images/DundurnWhite.png");
  background-size:contain;
  background-position: bottom center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.landscape #ceremonysunny-slide #bg {
  background-image:url("../images/yellowbg1.png");
  background-size:cover;
  background-position: bottom left;
  background-repeat: no-repeat;
  width:100%;
  height:100%;
}

.landscape #sunnytext {
  width:50%;
  float:right;
}

#ceremonysunny-slide a {
	color:#333;
	text-decoration: none;
	font-style: italic;
	border-bottom: 1px dotted #333;
	margin-left: 25px;
}

#ceremonysunny-slide a:hover {
	color:#000;
	text-decoration: none;
	font-style: italic;
	border-bottom: 1px dotted black;
}

#ceremonyrainy-slide {
  top:300%;
  background-color:rgb(57,81,99);
	background: -webkit-linear-gradient(rgb(135,206,350),rgb(57,81,99)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgb(135,206,350),rgb(57,81,99)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgb(135,206,350),rgb(57,81,99)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgb(135,206,350),rgb(57,81,99)); /* Standard syntax */
}

.portrait #ceremonyrainy-slide #bg  {
  background-image:url("../images/ChurchWhite.png");
  background-size:contain;
  background-position: bottom center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.landscape #ceremonyrainy-slide #bg {
  background-image:url("../images/yellowbg2.png");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: top left;
  width: 100%;
  height: 100%;
}

#ceremonyrainy-slide a {
	color:#d3d3d3;
	margin-left: 25px;
	text-decoration: none;
	font-style: italic;
	border-bottom: 1px dotted #d3d3d3;
}

#ceremonyrainy-slide a:hover {
	color:#fff;
	border-bottom-color: #fff;
}

.landscape #rainytext {
  width:50%;
  float: left;
}

#reception-slide {
  top:400%;
}

.portrait #reception-slide {
  background-color: rgb(255,0,0);
  background-image: url("../images/LakeviewFull.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.portrait #reception-text {
  padding:10px;
  background-color: rgba(0,0,0,0.8);
}

.portrait #reception-text h2, .portrait #reception-text h1 {
  margin-top:15px;
}

.portrait #reception-text p {
  margin-left:5px;
}

.landscape #reception-pic {
  background-image:url("../images/Lakeview.jpg");
  background-position: right;
  background-size:cover;
  background-repeat: no-repeat;
  width:50%;
  height:100%;
  float:left;
}

.landscape #reception-text {
  width:50%;
  height:100%;
  float:right;
}

#reception-text a {
	width:100%;
	color: #d3d3d3;
	border-bottom:1px dotted #a9a9a9;
	font-style: italic;
	text-decoration: none;
}

#reception-text a:hover {
	color: #fff;
	border-bottom:1px dotted #fff;
}


#rsvp-slide {
  top:500%;
  background-image:url("../images/TreesPic.jpg");
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
}

.landscape #rsvp-wrapper {
  background-color:rgba(0,0,0,0.8);
  margin-top:50px;
  margin-left: 25%;
  width:50%;
  height:313px;
}

.portrait #rsvp-wrapper {
  background-color:rgba(0,0,0,0.8);


  //vc

}

#rsvp-form {
    font-family: 'Open Sans Condensed', arial, sans !important;
    width: 100%;
		height:100%;
}

#rsvpform input[type="text"], #rsvpform textarea {
	color:#fff;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
}

#rsvpform textarea {
    resize:none;
    overflow: hidden;
		height:60px;
}

#rsvpform input[type="button"], #rsvpform input[type="submit"] {
    background-color: #1D7373;
    border: 1px solid #5CCCCC;
		margin:15px 5px 0;
    margin-top:0;
		float:right;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif !important;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
#rsvpform input[type="button"]:hover,
#rsvpform input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}

#rsvpform h2 {
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif !important;
    color: #FFF;
		margin:0;
    font-size: 24px;
    font-weight: 300;
    padding: 20px;
}

.portrait #rsvpform input[type="text"], .portrait #rsvpform textarea, .portrait #rsvpform input[type="button"], .portrait #rsvpform input[type="submit"] {
  font-size:20pt;
}
.portrait #rsvpform h2 {
  font-size:2.5em;
}
